
<div class="flex flex-row items-center mx-auto rounded-2xl w-318.75 h-55 bg-blue-100/80 relative">
    <div class=" flex absolute size-125 top-50 -left-100 rounded-full bg-green-500/10"></div>
    <div class="text-3xs flex items-center flex-col whitespace-pre-line gap-5 mx-auto">
        <svg class="w-12.75 h-16">
        <use href='#icon-argum-1' />
    </svg>Бережём природу.
Эко-тара и проборы.</div>
    <div class="text-3xs flex items-center flex-col whitespace-pre-line gap-5 mx-auto">
        <svg class="w-16.75 h-16.75">
        <use href='#icon-argum-2' />
    </svg>28 дней без повторения, 
более 300 блюд!</div>
    <div class="text-3xs flex items-center flex-col whitespace-pre-line gap-5 mx-auto">
        <svg class="w-17.75 h-16.75">
        <use href='#icon-argum-3' />
    </svg>Бесплатно заменяем
блюда и ингредиенты.</div>
    <div class="text-3xs flex items-center flex-col whitespace-pre-line gap-5 mx-auto">
        <svg class="w-16.75 h-16.75">
        <use href='#icon-argum-4' />
    </svg>Готовим ночью, упаковываем 
и отправляем Вам!</div>
    <div class="text-3xs flex items-center flex-col whitespace-pre-line gap-5 mx-auto">
        <svg class="w-24.97 h-17.13">
        <use href='#icon-argum-5' />
    </svg>Ежедневная удобная 
и бесплатная доставка
с 6:00 до 10:00</div>
    <div class="text-3xs flex items-center flex-col whitespace-pre-line gap-5 mx-auto">
        <svg class="w-16.75 h-16.75">
        <use href='#icon-argum-6' />
    </svg>Сохраняем Вашу энергию 
и до 14 часов в неделю 
освобождая от готовки!</div>
</div>
