<div class="space-y-20">
    <h2 class="text-center mx-auto my-20 font-comfortaa text-2xl">Фото страв</h2>
    <div class="swiper_dishes">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
        <img src="./assets/img/dishes-3.png" alt="dishes" class="w-95 h-142.5 object-cover">
    </div>
    <div class="swiper-slide">
        <img src="./assets/img/dishes-2.png" alt="dishes" class="w-95 h-142.5 object-cover">
    </div>
    <div class="swiper-slide">
        <img src="./assets/img/dishes-3.png" alt="dishes" class="w-95 h-142.5 object-cover">
    </div>
    <div class="swiper-slide">
        <img src="./assets/img/dishes-4.png" alt="dishes" class="w-95 h-142.5 object-cover">
    </div>
    <div class="swiper-slide">
        <img src="./assets/img/dishes-5.png" alt="dishes" class="w-95 h-142.5 object-cover">
    </div>
    <div class="swiper-slide">
        <img src="./assets/img/dishes-4.png" alt="dishes" class="w-95 h-142.5 object-cover">
    </div>
        </div>
    </div>
</div>