@import "tailwindcss";

@font-face {
font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/Comfortaa-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Comfortaa-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@theme {
    --color-green-400: #64D370;
    /* :hover */
    --color-green-500: #26F03A;
    --color-green-600: #3D9646;
    --color-blue-100: #F5FAFF;
    --color-blue-200: #DFE6EE;
    --color-blue-300: #F4F9FE;
    --color-red-400: #F87676;
    --color-red-500: #FE3666;
    --color-gray-950: #020202;




    --font-comfortaa: Comfortaa, sans-serif;
    --font-montserrat: Montserrat, sans-serif;

    /* #26F03A 10%
    #F5FAFF
    #DFE6EE
    #64D370 :hover
    #F87676
    #FE3666
    #3D9646 : active
    #F5FAFF
    #020202
    #000000 */
    
    --container-6xl: calc(73.75rem + 120px);
    --container-2xl: calc(43.125rem + 40px);
    --container-3xs: 16.5rem;

    --shadow-md: 0 0 20px 0 #5656564d;
    --shadow-md: 0 0 30px 0 #5656564d;
    --shadow-md: 0 0 40px 0 #5656564d;

    --text-3xs: 8px;
    --text-2xs: 10px;

/* 
    --container-5xl: calc(73.75rem +30px);
    --container-4xl: calc(73.75rem +30px);
    --container-3xl: calc(73.75rem +30px); */
}

/* .logo {
  position: relative;
  &::before {
    content: '232';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 264px;
    height: 264px;
    background-color: #F5FAFF;
    box-shadow: 0 0 40px 0 #5656564d;
    z-index: -10;
    border-radius: 50%;
  }
} */

.burger.is-active .burger__icon {
    transform: rotate(45deg);
    top: 7px;
}

.burger.is-active .burger__icon:after {
    top: 0;
    transform: rotate(-90deg);
}

.burger.is-active .burger__icon:before {
    top: 0px;
    transform: rotate(-90deg);
    left: 0;
    width: 100%;
}

.burger__icon-wrapper {
    width: 25px;
    position: relative;
    height: 20px;
    
    display: inline-block;
}

.burger__icon,
.burger__icon:before,
.burger__icon:after {
    background-color: var(--color-gray-950);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transition:  0.3s left, 0.3s top, 0.3s transform;
}

.burger__icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.burger__icon:before,
.burger__icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.burger__icon:before {
    top: 7px;
    width: 20px;
    left: 5px;
}

.burger__icon:after {
    top: 14px;
}